{% include 'header.html' %}

<div class="container mt-3">

    <div class="card">

        <div class="card-header mb-3">
            <h3>Tarea</h3>
        </div>
        <div class="card-body">

            {% for tarea in tasks %}

            <div class="mb-5">
                <h4>Título:</h4>
                <h3>{{tarea[1]}}</h3>
            </div>

            <div class="mb-5">
                <h4>Descripción:</h4>
                <p>{{tarea[2]}}</p>
            </div>

            <div class="mb-5">
                <h4>Creada:</h4>
                <p>{{fecha}}</p>
            </div>

            {% if tarea[3] == 1 %}
            <div class="alert alert-danger text-center text-uppercase" role="alert">
                <h5>Tarea urgente e importante</h5>
            </div>
            {% endif %}

            {% if tarea[3] == 2 %}
            <div class="alert alert-warning text-center text-uppercase" role="alert">
                <h5>Tarea urgente</h5>
            </div>
            {% endif %}

            {% if tarea[3] == 3 %}
            <div class="alert alert-info text-center text-uppercase" role="alert">
                <h5>Tarea importante</h5>
            </div>
            {% endif %}

            {% if tarea[3] == 4 %}
            <div class="alert alert-secondary text-center text-uppercase" role="alert">
                <h5>Tarea ni urgente ni importante</h5>
            </div>
            {% endif %}


            {% endfor %}

            <a class="btn btn-secondary" href="{{url_for('index')}}">Regresar</a>


        </div>
    </div>

</div>

{% include 'footer.html' %}